<header>
  <img class = "img-fluid" src ="https://images6.alphacoders.com/609/thumb-1920-609345.jpg">
  <div class ='overlay'>
    <div class = "header-text">
      <img src="/menu_photos/pizzatent.png" alt="logo_text">
      <h2>Best pizza in the world</h2>
      <h4>+1-800-Piz-Tent</h4>
      <h4>1 Pizza Ave, Toronto, ON, Canada, P1Z7A5</h4>
    </div>
  </div>
</header>
