<header>
  <nav>
    <p>Food Pickup</p>
    </button>
    <div>
      <div>
      </div>
          <a href="/login">
          <button type="submit">Log In</button>
          </a>
          <a href='/register'>
         <button type="submit">Register Now</button>
        </a>
        <a href='/register'>
          <button type="submit">C</button>
         </a>
      </div>
    </div>
  </nav>
</header>
