<header>
  <img class = "img-fluid" src ="https://images6.alphacoders.com/609/thumb-1920-609345.jpg">
  <div class ='overlay'>
    <div class = "header-text">
      <h1>Food Pickup</h1>
      <h2>Best food pick up service in the world</h2>
    </div>
  </div>
</header>
