<nav>
  <div class="navLeft">
    <a href="/"><img src="/menu_photos/logo.png" alt="Pizza Tent"></a>
  </div>
  <% if (!username) { %>
    <%- include('./_navbarLoggedOut') %>
</nav>
  <% } else {%>
    <%- include('./_navbarLogin') %>
  <% } %>
