<nav>
  <span>Pizza Heaven</span>
    <% if (!users) { %>
      <%- include('./_navbarLoggedOut') %>
    <% } else {%>
      <% console.log("HELLO THIS IS USERS", users) %>
      <%- include('./_navbarLogin') %>
    <% } %>
</nav>
