<nav>
  <div class="navLeft">
    <a href="/">Pizza Tent</a>
  </div>
    <% if (!username) { %>
      <%- include('./_navbarLoggedOut') %>
</nav>
      <% } else {%>
        <%- include('./_navbarLogin') %>
        <% } %>

