<div class="navLoggedIn">
  <span>Hello! <%= users.name %></span>
  <a href="/logout">Logout</a>
  <% if (users !== 3 ) { %>
    <a href="#" id="cart">
      <i class="fa fa-shopping-cart"></i> Cart <span class="badge">0</span>
    </a>

  <% } %>
</div>
