<div class="navLoggedIn">
  <span>Hello! <%= username %></span>
  <a href="/logout">Log out</a>
  <% if (username !== "Nylah Hall" ) { %>
    <button type="button" id="cart-btn">
      <i class="fa fa-shopping-cart"></i> Cart <span class="badge">0</span>
    </button>
  <% } %>
</nav>
</div>
