<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Food pickup</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <%- include('partials/_header') %>
    <header class = "background_img" >
      <h2>Food Pickup</h2>
    </header>
    </div>
    <div class = "menu-items">
      <% for (let i = 0; i < foods.length ; i++ ) { %>
     <input type = "image" class = "menu-imgs"  src ="<%= foods[i]['photo_url'] %>"/>
     <span class = "caption"><%= foods[i]['name']%></span>
     <span class = "price">$<%= foods[i]['price']%></span>
     <%}%>
    </div>
  </body>
</html>
