<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_navbar') %>
  </header>
  <div class="register">
    <h2 class="login_header">Register</h2>
    <form class="input-form" action="/register" method="POST">
      <div class="input_area">
        <lable>Name:
        <input name="name" class="name" placeholder="Input your name">
      </lable>
        <lable>Phone Number:
        <input name="phone_number"class="number" placeholder="Input your phone number">
      </lable>
        <lable for="password">Password:
        <input name="password" class="password" placeholder="Input your password">
      </lable>
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </div>

</body>

</html>
