header {
  background: rgb(0, 0, 0);
  overflow: hidden;
}
.img-fluid {
  object-fit: cover;
  width: 100%;
  max-height: 70vh;
  opacity: 0.5;
}

.header-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70vh;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

header:hover .overlay {
  opacity: 1;
}


.item-name {
  font-size: larger;
  font-weight: bold;
}
.item-text {
  text-transform: capitalize;
  margin: 1% 1%;
}

.item-img {
  margin: 1% 1%;
  object-fit: cover;
  border-radius: 25px;
  height: 150px;
  width: 200px;
}

.menu-container{
  margin-top: 2%;
  border: 5px dotted black;
  border-radius: 25px;
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-container:hover {
  box-shadow: 5px 5px lightslategray
}

.all-category-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category {
  margin-top: 1%;
  margin-left: 1%;
  font-size: larger;
  font-weight: bolder;
}
