.background_img {
  height: 410px;
  width: 720px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center ;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/234/543/684/food-pizza-wallpaper-preview.jpg");
  color: rgb(255, 255, 255);
  font-size: xx-large;
  text-shadow:
   -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
     3px 3px 0 #000;
}
.menu-items {
  display: flex;
  flex-direction: column;
}
.menu-imgs {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 200px;
}
