.page {
  background-color: black;
  padding-bottom: 5em;
}
.item-name {
  font-size: larger;
  font-weight: bold;
}
.item-text {
  text-transform: capitalize;
  margin: 1% 1%;
}

.item-img {
  margin: 1% 1%;
  object-fit: cover;
  border-radius: 25px;
  height: 10em;
  width: 20em;
}

.menu-container{
  margin-top: 2%;
  margin-right: 1%;
  border-radius: 25px;
  width: 20em;
  height: 15em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // background-size: 650px 600px;
  background-image: url("/menu_photos/background.png");
  background-size: cover;

  // --------------------------------------------------------------------------
}

// .menu-container:hover {
//   box-shadow: 5px 5px lightslategray
// }

.all-category-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #8c8c8c;
}

.category {
  margin-top: 0.5em;
  padding-top:0.5em;
  height: 2em;
  font-size: larger;
  font-weight: bolder;
  color: #bfbfbf;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  margin-left: 2em;

}
.page {
  display: flex;
  flex-direction: row;
}

.toc {
  border-radius: 5px;
  // border: 3px dotted black;
  background-color: #0d0d0d;
  padding: 1em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 75vh;
  height: 220px;
  width: 15vw;
  // z-index: 1;
  // position: fixed;
  // background-color: green;
  p2 {
    color: #bfbfbf;
    font-size: 1.2em;
    border-bottom: 2px solid #bfbfbf;
  }
  a {
    text-decoration: none;
    color: #bfbfbf;
    padding: 0.1em;
  }
}

.sidebar {
  width: 15vw;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
}


.affix {
  position: fixed;
  margin-left: 2%;
  margin-right: 2%;
  top: 120px;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: none;
}
.search_box {
  display: flex;
  width: 30vw;
}
#search {
  color: #bfbfbf;
  background-color:#0d0d0d;
  border-radius: 5px;
  resize: none;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid bla;
}

#search_form {
  margin: 0.5em;
}

