$base-color: #990000;
body {
  background-color: black;
  background-image: url("/menu_photos/background.png");
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bfbfbf;
  opacity: 0.5;
  margin: 10em;
  height: 40vh;
  border-radius: 10px;
  div {
    margin: 1em;
    .phoneNumber {
      margin-left: 5px;
    }
  }
  button {
    background-color: $base-color;
    color: white;
    border: none;
  }
  button:hover {
    transform: scale(1.07);
    background-color: $base-color;
  }
}
.login_header {
  margin: 10px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.text_area {
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  height: 100px;
  height: 2em;
}
