.order-page {
  background-image: url("/menu_photos/background.png");
  padding-bottom: 10em;
  padding-top: 6em;
  display: flex;
  justify-content: center;
}

.orderStatCol {
  width: 400px;
}
.mainRestaurant {
  background-color: transparent;
  display: flex;
  align-content: center;
  align-self: center;
  justify-content: center;
  width: 80vw;
  opacity: 0.8;
  margin-left: 10vw;
  border-radius: 10px;
}

.orderStatus {
  display: flex;
  flex-direction: row;
}
.order-page thead {
  border-bottom: 1px solid #bfbfbf;
}

.form-control {
  margin-right: 15px;
  width: 200px;
  height: 25px;
  background-color: transparent;
  color: white;
}
.order-page th {
  color: #bfbfbf;
  border: none;
}
.order-page td {
  color: #bfbfbf;
  border: none;
}

.order-page .order-button {
  background-color: #990000;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 0.5em;
}

.order-button:hover {
  transform: scale(1.07);
}
